.memo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.memo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.memo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.memo-text {
  flex-grow: 1;
  margin-right: 10px;
}

.memo-text.favorite {
  font-weight: bold;
  color: goldenrod;
}

.tags-container {
  display: flex;
  gap: 5px;
}

.tag {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 0.9rem;
}

.tag-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.memo-buttons {
  display: flex;
  gap: 5px;
}

.memo-buttons button {
  padding: 5px;
  cursor: pointer;
}

.editing-container input {
  flex-grow: 1;
}

.editing-container button {
  padding: 5px;
  cursor: pointer;
}

.favorite-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: deeppink;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
